@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


*{
  font-family: 'Josefin Sans', sans-serif;
}

body{
    overflow-x:hidden;
}

.container-fluid{
    background-color: #f3f5f9;
    color: #717171;
    width: 100%;
}

.container-fluid h1 {
    font-size: 2em;
    font-weight: bolder;
    text-align:center;
}

.container-fluid h2 {
    font-size: 1.3em;
    padding: 10px;
    text-align:center;
}

.container-fluid h3 {
    font-size: 1.5em;
    margin: 2px;
    text-align:center;
    font-weight: Heavy;
}

.container-fluid h4 {
    margin: 15px 0 0;
    font-weight: Bold;
}

.container-fluid li {
    font-size: 1.1em;
    padding: 1px ;
    margin: 2px 0;
    font-weight: 300;
    list-style-type: square;
    list-style-position: outside;
}

p,a
{
    font-weight: lighter;
    font-size: 1.0em;
}

.dl-share .btn {
    min-width: 120px;
}

.social {
    margin-right: 7px;
}

.btn .fa {
    margin-right: 10px;
}

.secicon.fa {
    font-size: 28px;
    color: #000;
    margin-right: 10px;
}

.sub {
    margin-bottom: 15px;
}

.award {
    padding-top: 20px;
}


.mainleft {
    padding-right: 30px;
}


.year,
.share {
    text-align: right;
}
