@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  font-family: 'Josefin Sans', sans-serif;
}

.container-fluid{
    background-color: #f3f5f9;
    color: #717171;
}

.container-fluid h1 {
    font-size: 2em;
    font-weight: bolder;
    text-align:center;
}

.container-fluid h2 {
    font-size: 1.3em;
    padding: 10px;
    text-align:center;
}

.container-fluid h3 {
    font-size: 1.4em;
    margin-top: 2px;
    text-align:center;
}

.container-fluid h4 {
    margin: 15px 0 0;
}

p,
a {
    line-height: 1.7em;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 16px;
}

li {
    padding: 7px 0;
    font-family: 'Josefin Sans', sans-serif;
}

.dl-share .btn {
    min-width: 120px;
}

.social {
    margin-right: 7px;
}

.btn .fa {
    margin-right: 10px;
}

.secicon.fa {
    font-size: 28px;
    color: #000;
    margin-right: 10px;
}

.sub {
    margin-bottom: 15px;
}

.award {
    padding-top: 20px;
}


.mainleft {
    padding-right: 30px;
}


.year,
.share {
    text-align: right;
}
