{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/about_me.css')}}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="content-section" id="about_me">
<!-- Page Content -->
  <div class="container">
    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <h2>About Will Xiong</h2>
        <p>I am an aspiring software developer situated in Vancouver, British Columbia. I have a Bachelor's Degree
                in Electrical Engineering, obtained from the University of British Columbia (UBC) in 2018.</p>
        <p>I have over two years of experience working as an control systems & instrumentation engineer in
                the engineering consulting and manufacturing industries. Over the timeline of my work experience, I had
                worked on numerous multi-million capital expansion projects, and developed a good understanding of software
                design concepts. My most noted project is still being used in the 10th largest sawmill in North America,
                and it is showcased on the companies website.</p>
        <p>Aside from work, I am an avid back packer, passionate about weight lifting and loves fishing. Thank you and have a great day!</p>
      </div>
              <div class="col-lg-6">
        <img class="img-fluid rounded" src="static/images/about_me/about_me_main.jpg" alt="">
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>My Hobbies</h2>
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="static/images/about_me/hobbies1.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Hiking</h4>
            <p class="card-text">I have hiked 15+ mountains throughout the Pacific Northwest, with these hikes ranging from 2 hour walks to 12 hour long hikes!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="static/images/about_me/hobbies2.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Back Packing</h4>
            <p class="card-text">I have back packed across Southeast Asia and most of Europe. My favourite place to travel to is Krakow, Poland!   </p>
          </div>

        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="static/images/about_me/hobbies3.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Healthy Food</h4>
            <p class="card-text">I love to discover healthy foods to eat, and my favourite dishes are Vietnamese Pho, Vermicelli and Subway! </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>

{% endblock %}