{% extends 'bootstrap/base.html' %}

{% block title %}
    Welcome to Will Xiong's Website
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
{% endblock %}


{% block navbar %}
<div class="wrapper">
    <div class="sidebar">
        <h2>W. X.</h2>
        <img src="static/images/avatar.jpeg">
        <ul>
            <li><a href="{{ url_for('index') }}"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="{{ url_for('about_me') }}"><i class="fas fa-address-card"></i>About</a></li>
            <li><a href="{{ url_for('projects') }}"><i class="fas fa-project-diagram"></i>Projects</a></li>
            <li><a href="{{ url_for('resume') }}"><i class="fas fa-address-book"></i>Resume</a></li>
        </ul>
        <div class="social_media">
          <a href="https://www.linkedin.com/in/wei-xiong/"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/willBear"><i class="fab fa-github"></i></a>
          <a href="https://www.instagram.com/iftheresaweitheresawill/"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

</div>
{% endblock %}

