{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/index.js') }}">>
{% endblock %}

{% block content %}
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="mask flex-center">
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2" style="margin-top:100px;">
              <h4>Will Xiong <br>
                  Developer</h4>
              <p>An aspiring software developer with two years engineering experience.</p>
              <a href="#"></a>Buy Now</div>
            <div class="col-md-5 col-12 order-md-2 order-1"><img src="https://i.imgur.com/NKvkfTT.png" class="mx-auto" alt="slide" style="margin-top:100px;"></div>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}