{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<head>
  <link rel="icon" href="{{url_for('static', filename='images/favicon.png')}}">
</head>

<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="mask flex-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2">
              <h4>WILL XIONG<br></h4>
              <h3>Developer | Engineer | Outdoor Enthusiast</h3>
              <p>I am an asipiring software developer situated in Vancouver, BC. I love cars, hiking and South Park.</p>
              <a href="{{ url_for('about_me') }}">ABOUT ME</a> </div>
            <div class="col-md-5 col-12 order-md-2 order-1"><img src="https://i.imgur.com/NO3DUcq.png" class="mx-auto" alt="slide"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
{% endblock %}