{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/projects.css')}}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h2 class="mb-3">Recent Projects</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Portfolio Website </h2>
                <p class="mb-0">A personal website built using Flask!</p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project1.png" alt="">
          </a>
        </div>

        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Stock Screener</h2>
                <p class="mb-0">PyQT5 app that shows technical & fundamental info of equities!</p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project2.png" alt="">
          </a>
        </div>

        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Forex Exchange</h2>
                <p class="mb-0">PyQT5 app that shows historical & current exchange rate of currencies!</p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project3.png" alt="">
          </a>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Portfolio Website</h2>
                <p class="mb-0">A personal website built using ReactJS framework! </p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project4.png" alt="">
          </a>
        </div>
        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>AMS Nest Wind Turbine</h2>
                <p class="mb-0">Wind turbine with LED visuals to promote sustainability!</p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project5.png" alt="">
          </a>
        </div>
        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Haptic Linear Actuator</h2>
                <p class="mb-0">A 3D printed actuator systems that plays Mario Kart!</p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project6.png" alt="">
          </a>
        </div>
      </div>
      <br><br>
      <div class="content-section-heading text-center">
        <h2 class="mb-3">Future Projects</h2>
      </div>

      <div class="row no-gutters">
        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>US Senator Portfolio</h2>
                <p class="mb-0">Web scraper to see portfolio performance of US senators!</p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project7.png" alt="">
          </a>
        </div>

        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Generic Store Website</h2>
                <p class="mb-0">Generic store website built using flask / django!</p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project8.png" alt="">
          </a>
        </div>

        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Real Estate Appraisal</h2>
                <p class="mb-0">A python app that calculates home value!</p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project9.png" alt="">
          </a>
        </div>

      </div>
    </div>
</div>

{% endblock %}