{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/projects.css')}}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h2 class="mb-5">Recent Projects</h2>
      </div>
      <div class="row no-gutters">

        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Flask - Personal Website - This Website!</h2>
                <p class="mb-0">A personal website built using Flask! </p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project1.png" alt="">
          </a>
        </div>

        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Ice Cream</h2>
                <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project2.png" alt="">
          </a>
        </div>

        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Strawberries</h2>
                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project3.png" alt="">
          </a>
        </div>

        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Workspace</h2>
                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project4.png" alt="">
          </a>
        </div>

        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Flask - Personal Website - This Website!</h2>
                <p class="mb-0">A personal website built using Flask! </p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project1.png" alt="">
          </a>
        </div>

        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Flask - Personal Website - This Website!</h2>
                <p class="mb-0">A personal website built using Flask! </p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project1.png" alt="">
          </a>
        </div>        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Workspace</h2>
                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project4.png" alt="">
          </a>
        </div>

        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Flask - Personal Website - This Website!</h2>
                <p class="mb-0">A personal website built using Flask! </p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project1.png" alt="">
          </a>
        </div>

        <div class="col-sm-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Flask - Personal Website - This Website!</h2>
                <p class="mb-0">A personal website built using Flask! </p>
              </span>
            </span>
            <img class="img-fluid" src="static/images/projects/project1.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}