{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/resume.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<head>
    <link rel="shortcut icon" href="#" />
</head>
<div class="container-fluid" id="resume" style="padding-left:300px;width:100%;">
    <!-- ===========================
    HEADER PART - INCLUDES NAME AND GENERAL INFORMATION
    ============================ -->
    <div id="header" class="row">
        <div class="col">
            <div class="cv-title">
                <div class="row">
                    <div class="col">
                        <h1>Will (Wei) Xiong</h1>
                        <h3>Vancouver, BC | will_xiong@hotmail.com | +1(778)-389-7575</h3>
                    </div>
                </div>
            </div><!-- Title end-->
        </div><!-- header right end-->
    </div><!-- header end-->
    <hr class="firsthr">
    <!-- ==================================================
    BODY LEFT PART - INCLUDES EDUCATION AND JOB EXPERIENCE
    =================================================== -->
    <div class="col-md-8 mainleft">
        <div id="statement" class="row mobmid">
            <div class="col-sm-1" style="left-margin:10px;">
                <span class="secicon fa fa-user"></span>
            </div><!--icon end-->
            <div class="col-sm-11">
                <h3>Highlights of Qualifications</h3>
                <ul>
                    <li>2+ years of work experience in Engineering Consulting, Data Analytics and Data Visualisation</li>
                    <li>Proficiency with Allen Bradley PLCs, Ladder Logic Programming, AutoCAD, Python, VBA, HTML and SQL</li>
                    <li>Experience with on-site trouble-shooting, commissioning and engineering design & procurement</li>
                    <li>Firm knowledge of SQL integration into industrial processors and data visualization & presentation</li>
                </ul>
            </div><!--info end-->
        </div><!--personal statement end-->
        <hr>
        <div id="education" class="row mobmid">
             <div class="col-sm-1">
                <span class="secicon fa fa-graduation-cap"></span>
            </div><!--icon end-->
            <div class="col-sm-11" >
                <!--<div class="col-sm-11" style= "border-style: ridge; border-color: coral; border-width: 1px;" > -->
                <h3>Education</h3>
                <div class="row">
                    <div class="col-md-9">
                        <!-- div class="col-md-10"style= "border-style: ridge; border-color: coral; border-width: 1px;" -->
                        <h4>Bachelor of Applied Science (Electrical Engineering) </h4>
                        <p><a href="https://www.ubc.ca/">University of British Columbia, Vancouver, BC</a></p>
                        <ul>
                            <li>Major courses: advanced statistics and modelling, multi-variable & vector calculus, macro and micro-economics and data structure & algorithms</li>
                            <li>Notable projects: computer processing unit (CPU), haptic feedback linear actuator, remote controlled cart, alternating current & direct current converters and low power transformers</li>
                        </ul>
                    </div>
                    <div class="col-md-3" style= "text-align:right; margin: 15px 0 0" >
                        <p>Sep/2014 - Jun/2018</p>
                    </div>
                </div><!--Education 1 end-->
            </div>
        </div><!--Education end-->

        <!-- ===========================
        WORK EXPERIENCE
        ============================ -->
        <hr>
        <div id="job" class="row mobmid">
            <div class="col-sm-1">
                <span class="secicon fa fa-briefcase"></span>
            </div><!--icon end-->
            <div class="col-sm-11">
                <h3>Work Experience</h3>
                <div class="row">
                    <div class="col-md-9">
                        <h4>Instrumentation & Controls Engineer, EIT</h4>
                        <p class="sub"><a href="http://www.solaris-mci.com/">Solaris Management Consultants, Surrey, BC</a></p>
                        <ul>
                            <li>Developed technical project deliverables, capital & equipment cost estimations and the development of high-level process diagrams (P&ID), worked on six multi-million dollar capital projects simultaneously</li>
                            <li>Assisted in the development of custom object-oriented software and designed workflow automation scripts to reduce repetitive tasks, completed projects two weeks ahead of deadline</li>
                            <li>Liaised between project manager, technical disciplines and non-technical document control teams to ensure effective communication within the company</li>
                            <li>Built and strengthened client-vendor relationships to facilitate future project deliverables</li>
                            <li>Responsible for training and developing materials, delegated tasks between team members and new hires to expedite the on-boarding process</li>
                        </ul>
                    </div>

                    <div class="year col-md-3"style="margin: 15px 0 0;">
                        <p>Jan/2019 - Apr/2020</p>
                    </div>
                </div><!--Job 1 end-->
                <hr>
                <div class="row">
                    <div class="col-sm-9">
                        <h4>Engineering Specialist</h4>
                        <p class="sub"><a href="https://www.ams.ubc.ca/">Alma Mater Society, University of British Columbia, Vancouver, BC</a></p>
                        <ul>
                            <li>Designed lighting displays corresponding to the environment and electricity generated by the turbine, achieved an overall grade of 86% with positive feedback from professors and industry professionals</li>
                            <li>Innovated and implemented new structural design which halved the initial estimated cost and improved overall aesthetics of the project</li>
                            <li>Conducted interviews with student body and client to obtain suggestions and feedback, customized project design to appease its audiences</li>
                            <li>Simplified complex electrical design concepts and implications; presented to non-technical </li>
                        </ul>
                    </div>
                    <div class="year col-md-3" style="margin: 15px 0 0;">
                        <p>Sep/2017 - May/2018</p>
                    </div>
                </div><!--Job 2 end-->
                <hr>
                <div class="row">
                    <div class="col-sm-9">
                        <h4>Equipment & Controls Design Intern</h4>
                        <p class="sub"><a href="https://confirmedautomation.com/">Confirmed Automation Systems, North Vancouver, BC</a></p>
                        <ul>
                            <li>Implemented Time Series Data logging algorithm to industrial controllers and helped design of Big Data analysis through SQL stored procedures and timed tasks, reduced the data pulling time by 40%</li>
                            <li>Designed business analysis reports and business intelligence interfaces using Crystal Report and Qlik Sense, increasing industrial customer’s production by 15% from analysing and eliminating bottlenecks </li>
                            <li>Provided specialised technical support to both technical and non-technical clients through remote troubleshooting controller algorithm (C & Ladder Logic) and site visits</li>
                            <li>Created Microsoft Excel macros and VBA scripts to test data validity from industrial servers</li>
                        </ul>
                    </div>
                    <div class="year col-md-3" style="margin: 15px 0 0;">
                        <p>Jan/2016 - Aug/2016</p>
                    </div>
                </div><!--Job 3 end-->
                <hr>
                <div class="row">
                    <div class="col-sm-9">
                        <h4>Control Systems Intern</h4>
                        <p class="sub"><a href="https://tolko.com/">Tolko Industries, High Level, AB</a></p>
                        <ul>
                            <li>Designed graphical user interfaces using VBA on various processes of the 10th largest sawmill in North America, replacing the outdated interfaces and improved productions of machines by 15%</li>
                            <li>Commissioned industrial equipment such as variable frequency drives, industrial motors and sensors; established communication between machines and industrial controllers using TCP/IP protocol</li>
                            <li>Automated various tasks through effective communication with both machine operators and management, lessened machines start-up time by 60%</li>
                            <li>Conducted interviews with machine operators and management, analysed on-going problems and developed technical solutions, ensured satisfaction from all parties involved  </li>
                            <li>Led capital project upgrades to outdated equipment with capital cost of up to $300,000 </li>
                        </ul>
                    </div>
                    <div class="year col-md-3" style="margin: 15px 0 0;">
                        <p>May/2015 - Dec/2015</p>
                    </div>
                </div><!--Job 4 end-->
        </div><!--Job experiences end-->

        </div><!--Job experiences end-->
        <!-- ===========================
        ADDITIONAL EXPERIENCE
        ============================ -->
        <hr>
        <div id="extracurricular" class="row mobmid">
             <div class="col-sm-1">
                <span class="secicon fa fa-user-plus"></span>
            </div><!--icon end-->
            <div class="col-sm-11" >
                <h3>Additional Experience</h3>
                <div class="row">
                    <div class="col-md-9">
                        <h4>Vice President of Student Society</h4>
                        <p><a href="http://ubcecess.com/">Electrical and Computer Engineering Student Society, Vancouver, BC</a></p>
                        <ul>
                            <li>Organised faculty professional development and social events, with more than 150 attendees </li>
                            <li>Marketed events using effective marketing techniques through social media to enhance society’s branding</li>
                            <li>Conducted research and acquired sponsorships necessary by communicating with other companies</li>
                        </ul>
                    </div>
                    <div class="col-md-3" style= "text-align:right; margin: 15px 0 0" >
                        <p>Sep/2017 - Jun/2018</p>
                    </div>
                </div><!--Additional Experience1 end-->
            </div>
        </div> <!-- Additional Experience End -->

    </div><!--left end-->

    <!-- ===========================
    SIDEBAR
    =========================== -->
    <div class="col-md-4 mainright">
        <div class="row">
            <div class="col-sm-1 col-md-2 mobmid">
                <span class="secicon fa fa-magic"></span>
            </div><!--icon end-->
            <div class="col-sm-11 col-md-10">
                <h3 class="mobmid">Technical skills </h3>
                <p>Python</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div><!--skill end-->

                <p>Flask</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <span class="sr-only">50% Complete (success)</span>
                    </div>
                </div><!--skill end-->

                <p>C</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (warning)</span>
                    </div>
                </div><!--skill end-->

                <p>HTML</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (success)</span>
                    </div>
                </div><!--skill end-->

                <p>CSS (Bootstrap)</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <span class="sr-only">50% Complete (success)</span>
                    </div>
                </div><!--skill end-->

                <p>Git</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                        <span class="sr-only">90% Complete</span>
                    </div>
                </div><!--skill end-->

                <p>SQL</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (danger)</span>
                    </div>
                </div><!--skill end-->

                <p>PLC Ladder Logic</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <span class="sr-only">50% Complete (danger)</span>
                    </div>
                </div><!--skill end-->
            </div><!--info end-->
        </div><!--tech skills end-->
        <hr>
    </div><!--right end-->
</div><!--container end-->
{% endblock %}